<html>
    <head>
        <title>Administrador de creditos</title>
    <style>
    </style>
    <script type="text/javascript">
        // Solo permite ingresar numeros.
        function soloNumeros(e){
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }

        // Solo permite ingresar numeros y letra K.
        function soloNumerosyK(e){
            const pattern = /[0-9\+\k\+\K\ ]/;
            let inputChar = String.fromCharCode(e.charCode);

            if (!pattern.test(inputChar)) {
            // invalid character, prevent input
            event.preventDefault();
            }
        }
    </script>
    </head>
    <body>
		<img style="opacity: 1;" src="/static/images/banner_banco_UAI.png" width="600" height="50" />
        <h2>Administrador de ofertas de créditos</h2>
        <h3>Usuario: {{usuario}}</h3>
        <p>Ingresar detalle de oferta</p>
        <form action="/ingresaCredito" method="POST">
            {% csrf_token %}
            <label>RUT:</label>
            <input type="text" name="rutCliente" maxlength="8" size="8" onKeyPress="return soloNumeros(event)"/>-
            <input type="text" name="dvRutCliente" maxlength="1" size="1" onKeyPress="return soloNumerosyK(event)"/>
            <input type="hidden" name="ejecutivo" value="{{usuario}}"/>

            <input type="submit" value="Consultar"/>
        </form>
        <form action="inicio" method="POST">
            {% csrf_token %}
             <input type="submit" value="Volver a inicio">
        </form>
        <h3>Ofertas ingresadas</h3>
        <table style="border-collapse: collapse; width: 70%">
            <tbody>
              <tr style="border: none;font-weight: bold;">
                <td style="border-bottom: solid 1px #3c4ccc;">ID</td>
                <td style="border-bottom: solid 1px #3c4ccc;">RUT</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Monto</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Fecha</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Ejecutivo</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Estado Oferta</td>
              </tr>
              {% for oferta in ofertas %}
              <tr style="border: none;">
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.id}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.rut}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.monto}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.fechaRegistro}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.nombreEjecutivo}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.estadoOferta}}</td>
              </tr>
              {% endfor %}
              <tr style="border: none;">
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
              </tr>
            </tbody>
          </table>
    </body>
</html>