<html>
    <head>
        <title>Consulta de creditos</title>
    <style>
    </style>
    <script type="text/javascript">
        // Solo permite ingresar numeros.
        function soloNumeros(e){
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }

        // Solo permite ingresar numeros y letra K.
        function soloNumerosyK(e){
            const pattern = /[0-9\+\k\+\K\ ]/;
            let inputChar = String.fromCharCode(e.charCode);

            if (!pattern.test(inputChar)) {
            // invalid character, prevent input
            event.preventDefault();
            }
        }
    </script>
    </head>
    <body>
		<img style="opacity: 1;" src="/static/images/banner_banco_UAI.png" width="600" height="50" />
        <h2>Consulta de ofertas de créditos</h2>
        <form action="/consultarCredito" method="POST">
            {% csrf_token %}
            <label>RUT:</label>
            <input type="text" name="rutCliente" maxlength="8" size="8" onKeyPress="return soloNumeros(event)"/>-
            <input type="text" name="dvRutCliente" maxlength="1" size="1" onKeyPress="return soloNumerosyK(event)"/>
            <input type="submit" value="Consultar"/>
        </form>
        <form action="/" method="POST">
            {% csrf_token %}
             <input type="submit" value="Volver a inicio">
        </form>
    </body>
</html>