<html>
    <head>
        <title>Inicio Banco UAI</title>
    <style>
    </style>
    </head>
    <body>
		<img style="opacity: 1;" src="/static/images/banner_banco_UAI.png" width="600" height="50" />
		<h2>Menú</h2>
		<form action="/acceso" method="POST">
			{% csrf_token %}
			<input type="submit" value="Acceso Portal ejecutivos Banco UAI"/>
		</form>
		<form action="/inicioConsulta" method="POST">
			{% csrf_token %}
			<input type="submit" value="Consulta Clientes"/>
		</form>
    </body>
</html>