<html>
    <head>
        <title>Clientes oferta</title>
    <style>
    </style>
    </head>
    <body>
		<img style="opacity: 1;" src="/static/images/banner_banco_UAI.png" width="600" height="50" />
        <h2>Oferta para RUT: {{rutCompleto}} ingresada correctamente</h2>
        <p>Nombre ejecutivo: {{nombreEjecutivo}}</p>
        <p>Clientes con créditos pre-aprobados:</p>
        <table style="border-collapse: collapse; width: 70%">
            <tbody>
              <tr style="border: none;font-weight: bold;">
                <td style="border-bottom: solid 1px #3c4ccc;">ID</td>
                <td style="border-bottom: solid 1px #3c4ccc;">RUT</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Monto</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Fecha</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Ejecutivo</td>
                <td style="border-bottom: solid 1px #3c4ccc;">Estado Oferta</td>
              </tr>
              {% for oferta in ofertas %}
              <tr style="border: none;">
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.id}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.rut}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.monto}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.fechaRegistro}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.nombreEjecutivo}}</td>
                <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.estadoOferta}}</td>
              </tr>
              {% endfor %}
              <tr style="border: none;">
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
                <td style="border-top: solid 1px #3c4ccc;"></td>
              </tr>
            </tbody>
          </table>
        <br>
        <form action="volverAdminCreditos" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ejecutivo" value="{{nombreEjecutivo}}"/>
             <input type="submit" value="Volver">
        </form>
        <form action="listaRut" method="POST">
            {% csrf_token %}
            <input type="hidden" name="ejecutivo" value="{{nombreEjecutivo}}"/>
            <input type="hidden" name="operacion" value="limpiar"/>
             <input type="submit" value="Borrar Lista">
        </form>
    </body>
</html>