<html>
    <head>
        <title>Login portal ejecutivos Banco UAI</title>
    <style>
    </style>
    <script type="text/javascript">
        // Solo permite ingresar numeros.
        function soloNumeros(e){
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }
    </script>
    </head>
    <body>
		<img style="opacity: 1;" src="/static/images/banner_banco_UAI.png" width="600" height="50" />
        <h2>Acceso Portal ejecutivos Banco UAI</h2>
        <p>Ingrese sus credenciales</p>
        <form action="/adminCreditos" method="POST">
            {% csrf_token %}
            <label>Usuario:</label>
            <input type="text" name="usuario" value="" maxlength="10" size="10"/><br><br>
            <label>Password:</label>
            <input type="password" name="pass" value="" maxlength="10" size="10"/><br><br>
            <input type="submit" value="Ingresar"/>
        </form>
        <form action="/" method="POST">
            {% csrf_token %}
             <input type="submit" value="Volver a inicio">
        </form>
    </body>
</html>