<html>
    <head>
        <title>Resultado consulta credito</title>
    <style>
    </style>
    </head>
    <body>
		<img style="opacity: 1;" src="/static/images/banner_banco_UAI.png" width="600" height="50" />
        <h2>Resultados consulta oferta de credito</h2>
        <p>RUT: {{rutCompleto}}</p>
        {% if cantidad > 0 %}
            <!--<p>Cantidad de ofertas de creditos: {{cantidad}}</p>-->
            <h2>Ofertas:</h2>
            <table style="border-collapse: collapse; width: 50%">
                <tbody>
                  <tr style="border: none;font-weight: bold;">
                    <td style="border-bottom: solid 1px #3c4ccc;">ID</td>
                    <td style="border-bottom: solid 1px #3c4ccc;">Monto</td>
                    <td style="border-bottom: solid 1px #3c4ccc;">Fecha</td>
                    <td style="border-bottom: solid 1px #3c4ccc;">Estado Oferta</td>
                  </tr>
                  {% for oferta in ofertas %}
                  <tr style="border: none;">
                    <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.id}}</td>
                    <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.monto}}</td>
                    <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.fechaRegistro}}</td>
                    <td style="border-right: solid 1px #3c4ccc; border-left: solid 1px #3c4ccc;">{{oferta.estadoOferta}}</td>
                  </tr>
                  {% endfor %}
                  <tr style="border: none;">
                    <td style="border-top: solid 1px #3c4ccc;"></td>
                    <td style="border-top: solid 1px #3c4ccc;"></td>
                    <td style="border-top: solid 1px #3c4ccc;"></td>
                    <td style="border-top: solid 1px #3c4ccc;"></td>
                  </tr>
                </tbody>
              </table>
              <br>
        {% else %}
            <p style="color:red">No tiene ofertas vigentes</p>
        {% endif %}
        <form action="/inicioConsulta" method="POST">
            {% csrf_token %}
             <input type="submit" value="Volver a inicio">
        </form>
    </body>
</html>